<div class="modal fade" id="entryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="entryModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="entryModalContent"></p>
                <div id="entryModalTags" class="mb-2"></div>
                <div id="entryModalFavorite" class="mt-2 fw-bold"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="editEntryBtn" class="btn btn-primary">Edit</button>
                <button type="button" id="deleteEntryBtn" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
